body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
}
main {
  background-color: var(--background-secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
body.dark-mode {
  background-color: black;
  color: white;
}

.searchSection {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--background-color);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  overflow: hidden;
}

/* хайлт хийдэг хэсэг */

.circle {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: absolute;
  left: -10%;
  top: 20%;
  animation: moveCircleRight 10s infinite alternate;
  z-index: 0;
}
.circle1 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  left: 20%;
  top: 0%;
  animation: moveCircleLeft 10s infinite alternate;
  z-index: 0;
}

.circle2 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 20%;
  animation: moveCircleLeft 10s infinite alternate;
  z-index: 0;
}

.circle3 {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  position: absolute;
  left: 80%;
  top: 25%;
  animation: moveCircleRight 10s infinite alternate;
  z-index: 0;
}

@keyframes moveCircleRight {
  0% {
    translate: 0 0;
  }
  25% {
    translate: 10px 0;
  }
  50% {
    transform: scale(0.98);
  }
  75% {
    translate: -10px -10px;
  }
}

@keyframes moveCircleLeft {
  0% {
    transform: scale(1.1);
  }
  25% {
    translate: 0 10px;
  }
  50% {
    transform: scale(1);
  }
  75% {
    translate: -10px 10px;
  }
}

.titleContainer {
  width: 60vw;
  margin-bottom: 5rem;
  z-index: 1;
}
.titleContainer h1 {
  width: 50%;
  font-size: 3rem;
  font-family: "lobster";
  z-index: 1;
}

h2 {
  width: 80vw;
  font-family: "lobster";
}

/* үйлчилгээнйй газруудын жагсаалт */

.suggestedSection,
.topRatedSection,
.commentsSection {
  width: 80vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.articlesContainer {
  width: 80vw;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scrollbar-width: none;
  padding: 1rem;
  gap: 5rem;
}
.articlesContainer a {
  text-decoration: none;
  color: var(--text-color-primary);
}
.articleSalon {
  width: 15rem;
  height: 40vh;
  background-color: var(--article-background-color);
  border-radius: 1rem;
}
.salonImage {
  width: 100%;
  height: 60%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.articleDescription {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 1rem;
  padding-right: 1rem;
}
.salonAddress {
  color: var(--text-color-muted);
  font-size: var(--font-size-muted);
}
.salonRating {
  font-size: var(--font-size-muted);
}
.salonName {
  font-size: var(--font-size-title);
}
/* сэтгэгдлийн хэсэг */
.commentsSection {
  height: 50vh;
}
.commentArticle {
  width: 15rem;
  height: 20vh;
  background-color: var(--article-background-color);
  border-radius: 1rem;
  padding: 0.5rem;
}
.topSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profileImage {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.comments {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-muted);
}
.profileName {
  margin-left: 1rem;
  font-weight: var(--text-font-weight);
}

/* бидний тухай */

.aboutUsSection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
.aboutUsImage {
  width: 50%;
}
.aboutUsBody {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.aboutUsParagraph {
  width: 30%;
  font-size: var(--font-size-paragraph);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.aboutUsImgContainer {
  width: 50%;
}
.aboutUsImgContainer img {
  width: 60%;
  height: 60%;
  border-radius: 20%;
}
.aboutUsImageFront {
  position: relative;
  top: 0;
  left: 0;
  animation-name: rotateImageFront;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
.aboutUsImageBack {
  position: relative;
  left: 30%;
  top: -30%;
  animation-name: rotateImageBack;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

/* хөдөлдөг зураг*/
@keyframes rotateImageFront {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 15%;
  }
  50% {
    top: 30%;
    left: 30%;
  }
  75% {
    top: 30%;
    left: 15%;
  }
}
@keyframes rotateImageBack {
  0% {
    left: 30%;
    top: -30%;
  }
  25% {
    top: -30%;
    left: 15%;
  }
  50% {
    top: -30%;
    left: 0%;
  }
  75% {
    top: -60%;
    left: 0%;
  }
}

article {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
article:hover {
  transform: scale(1.05);
}

/* gradient background animation */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 1024px) {
  .aboutUsBody {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .aboutUsParagraph {
    width: 80%;
  }
  .aboutUsImgContainer {
    width: 80%;
  }
  .aboutUsImage {
    width: 80%;
  }
  .titleContainer h1 {
    width: 100%;
    font-size: 2rem;
  }
  .titleContainer {
    width: 70%;
  }
  .search input {
    height: 2.5rem;
  }
  .search input::placeholder {
    font-size: 1.2rem;
  }
  .buttonSearch {
    height: 2.5rem;
  }
  .search {
    border-radius: 2rem;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 4rem;
  }
  .aboutUsBody {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .aboutUsParagraph {
    width: 80%;
    margin-bottom: 5rem;
  }
  .aboutUsImgContainer {
    width: 80%;
  }
  .aboutUsImage {
    width: 80%;
  }
  .search {
    flex-wrap: wrap;
    width: 80%;
    gap: 1rem;
  }
  .search input {
    width: 100%;
    border-radius: 10rem;
  }
  #dateInput {
    width: 43%;
    border-radius: 10rem;
  }
  #timeInput {
    width: 43%;
    border-radius: 10rem;
  }
  .buttonSearch {
    width: 100%;
    border-radius: 10rem;
  }
  .buttonProfile {
    display: none;
  }
  .dropdownMenu {
    height: 3rem;
  }
  .logo {
    font-size: 2rem;
  }
}
