:root {
  --background-color: linear-gradient(
    to right,
    white,
    #ffe4ea,
    #ffaebf,
    #ffc8d4,
    #ffaebf
  );
  --navbar-color: linear-gradient(to right, white, #ffccd5, #ff99ac, #ff6b89);
  --button-color: #81018c;
  --background-secondary-color: #ebe0e0d9;
  --text-color-primary: black;
  --text-color-secondary: white;
  --text-color-muted: gray;
  --text-font-weight: 700;
  --text-font-paragraph: 600;
  --font-size-muted: 0.8rem;
  --font-size-title: 1.5rem;
  --button-font-size: 1rem;
  --input-color: rgb(254, 144, 214);
  --article-background-color: white;
  --font-size-paragraph: 1.5rem;
  --white-bg-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px;
}

body {
  font-family: "Inria Serif";
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
}
main {
  background-color: var(--background-secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*header style*/

header {
  height: 5rem;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
}
nav {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: var(--white-bg-box-shadow);
  background-image: var(--navbar-color);
  padding-left: 2rem;
  padding-right: 2rem;
}
nav button {
  width: 10vw;
  height: 50%;
  border-radius: 10rem;
  margin: 1rem;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--article-background-color);
}
.buttonMenu a,
.buttonMenu {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}
.logo {
  font-family: "Lobster";
  font-size: 3rem;
}
.dropdownMenu {
  display: flex;
  align-items: center;
  height: 100%;
}
.dropbtn {
  width: 10vw;
  height: 50%;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdownMenu:hover .dropdown-content {
  display: block;
}
.profileLogo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.headerLogo {
  height: 5rem;
}
.headerButtonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* хайлт хийдэг хэсэг */
.searchSection {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--background-color);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

.search input {
  width: 10vw;
  height: 2.5rem;
  border: 0px solid white;
  margin: 0;
  padding-left: 1rem;
  font-weight: var(--text-font-paragraph);
  color: var(--text-color-primary);
}

.search {
  background-color: var(--background-secondary-color);
  padding: 0.5rem;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#nameInput {
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
}
#timeInput {
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

.titleContainer {
  width: 55vw;
  margin-bottom: 5rem;
}
.titleContainer h1 {
  width: 50%;
  font-size: 2.5rem;
  font-family: "lobster";
}
.buttonSearch {
  height: 2.5rem;
  width: 10vw;
  border-radius: 10rem;
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  font-size: var(--button-font-size);
  color: var(--text-color-secondary);
  font-weight: var(--text-font-weight);
}

/* үйлчилгээнйй газруудын жагсаалт */

.suggestedSection {
  width: 80vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topRatedSection {
  width: 80vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  width: 80vw;
  font-family: "lobster";
}
.articlesContainer {
  width: 80vw;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  scrollbar-width: none;
  padding: 1rem;
  gap: 5rem;
}
.articlesContainer a {
  text-decoration: none;
  color: var(--text-color-primary);
  font-weight: var(--text-font-weight);
}
.articleSalon {
  width: 15rem;
  height: 40vh;
  background-color: var(--article-background-color);
  border-radius: 1rem;
}
.salonImage {
  width: 100%;
  height: 60%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
.articleDescription {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 1rem;
  padding-right: 1rem;
}
.salonAddress {
  color: var(--text-color-muted);
  font-size: var(--font-size-muted);
}
.salonRating {
  font-size: var(--font-size-muted);
}
.salonName {
  font-size: var(--font-size-title);
}

/* бидний тухай */

.aboutUsSection {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background-color);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
.aboutUsImage {
  width: 50%;
}
.aboutUsBody {
  width: 80%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.aboutUsParagraph {
  width: 30%;
  font-size: var(--font-size-paragraph);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.aboutUsImgContainer {
  width: 50%;
}
.aboutUsImgContainer img {
  width: 60%;
  height: 60%;
  border-radius: 20%;
}
.aboutUsImageFront {
  position: relative;
  top: 0;
  left: 0;
  animation-name: rotateImageFront;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}
.aboutUsImageBack {
  position: relative;
  left: 30%;
  top: -30%;
  animation-name: rotateImageBack;
  animation-duration: 10s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
}

/* хөдөлдөг зураг*/
@keyframes rotateImageFront {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 15%;
  }
  50% {
    top: 30%;
    left: 30%;
  }
  75% {
    top: 30%;
    left: 15%;
  }
}
@keyframes rotateImageBack {
  0% {
    left: 30%;
    top: -30%;
  }
  25% {
    top: -30%;
    left: 15%;
  }
  50% {
    top: -30%;
    left: 0%;
  }
  75% {
    top: -60%;
    left: 0%;
  }
}

/* сэтгэгдлийн хэсэг */
.commentsSection {
  width: 80%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.commentArticle {
  width: 15rem;
  height: 20vh;
  background-color: var(--article-background-color);
  border-radius: 1rem;
  padding: 0.5rem;
}
.topSection {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profileImage {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.comments {
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-muted);
  font-weight: var(--text-font-paragraph);
}
.profileName {
  margin-left: 1rem;
  font-weight: var(--text-font-weight);
}

/*footer хэсэг */

footer {
  width: 100%;
  height: 25vh;
  display: flex;
  justify-content: center;
  background-color: var(--background-secondary-color);
}
.footerBody {
  width: 80%;
  height: 100%;
  background-image: var(--navbar-color);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
footer a {
  text-decoration: none;
  color: var(--text-color-primary);
  font-weight: var(--text-font-paragraph);
}
ul {
  list-style-type: none;
}
article {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
article:hover {
  transform: scale(1.05);
}

/* gradient background animation */
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 1024px) {
  .aboutUsBody {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .aboutUsParagraph {
    width: 80%;
  }
  .aboutUsImgContainer {
    width: 80%;
  }
  .aboutUsImage {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .aboutUsBody {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .aboutUsParagraph {
    width: 80%;
    margin-bottom: 5rem;
  }
  .aboutUsImgContainer {
    width: 80%;
  }
  .aboutUsImage {
    width: 80%;
  }
  .search {
    flex-wrap: wrap;
    width: 80%;
    gap: 1rem;
  }
  .search input {
    width: 100%;
    border-radius: 10rem;
  }
  #dateInput {
    width: 43%;
    border-radius: 10rem;
  }
  #timeInput {
    width: 43%;
    border-radius: 10rem;
  }
  .buttonSearch {
    width: 100%;
    border-radius: 10rem;
  }
}
