:root {
  --background-color: linear-gradient(#fde5fb, rgb(245, 216, 241));
  --navbar-color: linear-gradient(#ffd0fb, #ffd0fb);
  --navbar-primary-color: #ffd0fb;
  --button-color: #81018c;
  --text-color-primary: black;
  --text-color-secondary: white;
  --text-color-muted: gray;
  --text-font-weight: 700;
  --text-font-paragraph: 600;
  --font-size-muted: 0.8rem;
  --font-size-title: 1.2rem;
  --button-font-size: 1rem;
  --input-color: rgb(254, 144, 214);
  --article-background-color: white;
  --font-size-paragraph: 1.5rem;
  --white-bg-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
  background-image: var(--background-color);
  display: flex;
  align-items: center;
  flex-direction: column;
}
header {
  height: 5rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-image: var(--navbar-color);
}
nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
nav button {
  width: 10vw;
  height: 50%;
  border-radius: 10rem;
  margin: 1rem;
  border: 1px solid white;
  box-shadow: var(--white-bg-box-shadow);
  background-color: var(--article-background-color);
}
.buttonMenu a,
.buttonMenu {
  font-size: 1.2rem;
  text-decoration: none;
  color: black;
}

.dropdownMenu {
  display: flex;
  align-items: center;
  height: 100%;
}
.dropbtn {
  width: 10vw;
  height: 50%;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: var(--white-bg-box-shadow);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.headerLogo {
  height: 5rem;
}
.headerButtonContainer {
  height: 100%;
  width: 40vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search input {
  width: 10vw;
  height: 2.5rem;
}
.search {
  width: 50vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#nameInput {
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
}
#timeInput {
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
}
input {
  border: 0px solid white;
  margin: 0;
  padding-left: 1rem;
  font-weight: var(--text-font-paragraph);
  color: var(--text-color-muted);
}
.buttonSearch {
  height: 2.5rem;
  width: 10vw;
  border-top-right-radius: 10rem;
  border-bottom-right-radius: 10rem;
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  font-size: var(--button-font-size);
  color: var(--text-color-secondary);
  font-weight: var(--text-font-weight);
}
main {
  margin-top: 5rem;
  width: 80vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
h2 {
  width: 80vw;
}
aside {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: var(--article-background-color);
  width: 50%;
  height: 60%;
  border-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--white-bg-box-shadow);
  margin: 5rem;
}

.bookingImgContainer {
  display: flex;
  flex-direction: row;
}
.bookingImgContainer img {
  width: 50%;
  height: auto;
}
.servicesProfile {
  background-color: var(--article-background-color);
  box-shadow: var(--white-bg-box-shadow);
  width: 20%;
  height: auto;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-right: 2rem;
}
.buttonRemove,
.buttonAdd {
  background-color: var(--button-color);
  box-shadow: var(--white-bg-box-shadow);
  color: var(--text-color-secondary);
  width: 80%;
  height: 2rem;
  border: none;
  border-radius: 2rem;
  margin-top: 1rem;
}
.articlesContainer {
  display: flex;
  flex-direction: row;
}

.servicesProfile div {
  color: var(--text-color-muted);
  font-size: 0.8rem;
}
.information {
  padding-left: 1rem;
}
.classTitle {
  font-size: var(--font-size-title);
  font-weight: var(--text-font-weight);
}
.address {
  font-size: 0.9rem;
  color: var(--text-color-muted);
}
.selectedServices {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lists {
  width: 100%;
  list-style-type: none;
}
.serviceList {
  margin: 0.5rem;
}
.priceInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.priceInfo span {
  font-weight: var(--text-font-paragraph);
}
.continueButton {
  width: 80%;
  height: 3rem;
  border-radius: 2rem;
  background-color: var(--button-color);
}
.continueButton a {
  color: var(--text-color-secondary);
  text-decoration: none;
  border: none;
  font-weight: var(--text-font-weight);
  font-size: 1rem;
}
.articlesContainer {
  display: flex;
  flex-direction: row;
  width: 40vw;
  background-color: var(--article-background-color);
  padding: 2rem;
  border-radius: 1rem;
}
.employees {
  display: flex;
  flex-direction: row;
}
.employeeProfile {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.employeeProfile img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}
.employeeName {
  font-weight: var(--text-font-weight);
  text-align: center;
}
